# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# data
/postgres-data
/uploads

# deployment
deploy.sh
publish-build.sh
config/config.json
prod.Dockerfile

# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
